/*リンクを右下に固定*/
.pagetop_container {
  display: fixed;
  right: 10px;
  bottom: 10px;
  width: 56px;
  height: 56px;
  margin: 0;
  z-index: 50;
  cursor: pointer;

  transition: 0.1s;
}

.pagetop_container:hover {
  transform: scale(1.1) rotate(-180deg);
}

.pagetop_container:active {
  transform: scale(0.9) rotate(-180deg);
}

/* 上に上がる動き */

.page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px) rotate(-180deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}

/* 下に下がる動き */

.page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }

  50% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateY(100px) rotate(0deg);
  }
}

.page-top-fix-text {
  position: fixed;
  z-index: 50;
  right: 0.75rem;
  bottom: 1px;
  width: 56px;
  font-size: 11px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-out;
}

.pagetop_container {
  position: fixed;
  right: 0.75rem;
  bottom: 0.25rem;
  z-index: 151;
  transform: rotate(180deg);

  cursor: pointer;
}

.pagetop_sub_container {
  position: relative;
  width: 56px;
  height: 56px;
  opacity: 0.6;
}

.chevron {
  position: absolute;
  width: 56px;
  height: 16px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(0, 114, 88);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    transform: translateY(20px);
  }

  67% {
    opacity: 1;
    transform: translateY(50px);
  }

  100% {
    opacity: 0;
    transform: translateY(65px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
