{
  "openapi": "3.0.0",
  "info": {
    "title": "Simple Pets API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.46ki75.com",
      "description": "The production API server"
    },
    {
      "url": "http://localhost:3000",
      "description": "The deveopment API server"
    }
  ],
  "paths": {
    "/api/v1/blog": {
      "get": {
        "summary": "List all Blogs",
        "operationId": "GET /api/v1/blog",
        "tags": ["blog"],
        "responses": {
          "200": {
            "description": "An array of Blogs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Blog"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blog/{slug}": {
      "get": {
        "summary": "Get Specify Blog",
        "operationId": "GET /api/v1/blog/{slug}",
        "tags": ["blog"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the blog post slug",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Specify Blog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Blog" }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blog/search": {
      "get": {
        "summary": "Query Blogs",
        "operationId": "GET /api/v1/blog/search",
        "tags": ["blog"],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Tag Name to search for in blog tags",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to search for in Blog title and description",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Query Blogs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Blog" }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blog/tag": {
      "get": {
        "summary": "List all Tags",
        "operationId": "GET /api/v1/blog/tag",
        "tags": ["blog"],
        "responses": {
          "200": {
            "description": "An array of Tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blog/image/{slug}": {
      "get": {
        "summary": "Return OGP Image binary",
        "operationId": "GET /api/v1/blog/image/{slug}",
        "tags": ["blog"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the blog post slug",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Image binary",
            "content": {
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/draft": {
      "get": {
        "summary": "List all Drafts",
        "operationId": "GET /api/v1/draft",
        "tags": ["draft"],
        "responses": {
          "200": {
            "description": "An array of Drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/draft/{slug}": {
      "get": {
        "summary": "Get Specify Draft",
        "operationId": "GET /api/v1/draft/{slug}",
        "tags": ["draft"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the draft post slug",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Specify Draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Draft" }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/draft/search": {
      "get": {
        "summary": "Query Drafts",
        "operationId": "GET /api/v1/draft/search",
        "tags": ["draft"],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Tag Name to search for in draft tags",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to search for in Draft title and description",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Query Drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Draft" }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/draft/tag": {
      "get": {
        "summary": "List all Tags",
        "operationId": "GET /api/v1/draft/tag",
        "tags": ["draft"],
        "responses": {
          "200": {
            "description": "An array of Tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BlogResponse": {
        "type": "object",
        "required": ["meta", "data", "links"],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Blog"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "totalPages": {
            "type": "integer",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "first": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "last": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "Blog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ogpImage": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "Draft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      }
    }
  }
}
