.side {
  box-sizing: border-box;
  width: calc(100% - 0.5rem);
  margin: 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: 1024px) {
    width: 33%;
    max-width: 480px;
  }
}
