.header-common {
  position: sticky;
  top: 0;
  height: 2.5rem;
  z-index: 10;
  padding: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.3s;
  backdrop-filter: blur(0.25rem);
}

.header-top {
  background-color: rgba(132, 157, 194, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

.header-scroll {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.8);
}
