.container {
  @media (min-width: 1024px) {
    margin-left: 25rem;
    display: flex;
    justify-content: center;
  }
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 1rem;

  @media (min-width: 1024px) {
    padding: 1rem 3rem;
  }
}
